  .hero-text {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .hero-text h1 {
    font-size: 2rem;
    font-weight: bold;
  }
 
  
   .hero-image-container img.hero-image {
    position: absolute;
    animation-name: up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes up-down {
    0%{
        top: 0px;
    }
    50%{
        top: 50px;
    }
    100%{
        top: 0px;
    }
    
  } 

  
 
  

  
 
  